@media screen and (max-width: 768px) {
    #footer_pc {
        width: 100vw;
        margin: unset;
        .footer_section {
            box-shadow: inset 0 calc(384px * (1 / 384)) 0 #E8E8E8;
            .inner_section {
                width: 100%;
                height: calc(384px * (120 / 384));
                .footer_copyright {
                    font-size: calc(384px * (12 / 384));
                }
            }
        }
    }

    #footer_box {
        .footer_section {
            box-shadow: inset 0 calc(100vw * (1 / 384)) 0 #E8E8E8;
            .inner_section {
                height: calc(100vw * (70 / 384));
                .footer_copyright {
                    font-size: calc(100vw * (12 / 384));
                }
            }
        }
    }
}