@media screen and (max-width: 768px) {
    #header_pc {
        .header_section {
            box-shadow:  calc(384px * (-4 / 384)) calc(384px * (-4 / 384)) calc(384px * (8 / 384)) #bfbfbf, calc(384px * (4 / 384)) calc(384px * (4 / 384)) calc(384px * (8 / 384)) #ffffff;
            .inner_section {
                width: 100%;
                height: calc(384px * (64 / 384));
                .header_sign_in_div {
                    width: calc(384px * (40 / 384));
                    height: calc(384px * (40 / 384));
                    .header_sign_in_button {
                        width: calc(384px * (20 / 384));
                        height: calc(384px * (20 / 384));
                    }
                }
                .navigation {
                    height: calc(384px * (64 / 384));
                    gap: calc(384px * (90 / 384));
                    .header_logo {
                        width: calc(384px * (240 / 384));
                    }
                    .navigation_text {
                        display: none;
                        line-height: calc(384px * (64 / 384));
                        font-size: calc(384px * (16 / 384));
                        &:after {
                            border-bottom: solid calc(384px * (3 / 384)) rgb(242, 57, 32);
                        }
                    }
                }
            }
        }
    }
}