@media screen and (max-width: 768px) {
    .main_page_section {
        /*width: 100%;*/
        margin-bottom: calc(375px * (20 / 375));

        &.main_introduce {
            height: calc(375px * (800 / 375));
            box-shadow: inset 0 calc(375px * (-1 / 375)) 0 #E8E8E8;

            .introduce_display {
                justify-content: center;
                .introduce_title {
                    display: none;
                    margin-top: calc(375px * (460 / 375));

                    .introduce_title_span {
                        font-size: calc(375px * (60 / 375));
                        line-height: calc(375px * (80 / 375));
                    }

                    .introduce_title_span_highlight {
                        color: rgb(242, 57, 32);
                    }
                }

                .introduce_ticket {
                    width: calc(375px * (600 / 375));

                    .ticket_top {
                        width: calc(375px * (400 / 375));
                        height: calc(375px * (500 / 375));
                        border-radius: 0 0 calc(375px * (10 / 375)) calc(375px * (10 / 375));
                        border: solid calc(375px * (2 / 375)) #fff;
                        box-shadow: calc(375px * (5 / 375)) calc(375px * (5 / 375)) calc(375px * (7 / 375)) #e4e4e4, calc(375px * (-5 / 375)) calc(375px * (-5 / 375)) calc(375px * (7 / 375)) #ffffff;

                        .ticket_place {
                            width: calc(375px * (260 / 375));
                            height: calc(375px * (100 / 375));
                            margin: calc(375px * (70 / 375)) auto 0;
                            gap: calc(375px * (30 / 375));

                            .ticket_place_from {
                                width: calc(375px * (118 / 375));
                                height: calc(375px * (80 / 375));
                                line-height: calc(375px * (80 / 375));
                                font-size: calc(375px * (34 / 375));

                                &:before {
                                    width: calc(375px * (20 / 375));
                                    height: calc(375px * (20 / 375));
                                }
                            }

                            .ticket_place_to {
                                width: calc(375px * (110 / 375));
                                height: calc(375px * (60 / 375));
                                box-shadow: inset calc(375px * (5 / 375)) calc(375px * (5 / 375)) calc(375px * (10 / 375)) #cecece, inset calc(375px * (-5 / 375)) calc(375px * (-5 / 375)) calc(375px * (10 / 375)) #ffffff;
                                border-radius: calc(375px * (20 / 375));
                                line-height: calc(375px * (60 / 375));
                                font-size: calc(375px * (34 / 375));
                                margin-top: calc(375px * (10 / 375));

                                &:before {
                                    width: calc(375px * (20 / 375));
                                    height: calc(375px * (20 / 375));
                                }
                            }
                        }

                        .ticket_start,
                        .ticket_end {
                            width: calc(375px * (260 / 375));
                            height: calc(375px * (40 / 375));
                            margin: calc(375px * (10 / 375)) auto calc(375px * (40 / 375));
                            box-shadow: inset calc(375px * (5 / 375)) calc(375px * (5 / 375)) calc(375px * (10 / 375)) #cecece, inset calc(375px * (-5 / 375)) calc(375px * (-5 / 375)) calc(375px * (10 / 375)) #ffffff;
                            border-radius: calc(375px * (20 / 375));
                            padding: 0 calc(375px * (20 / 375));

                            .date_icon {
                                width: calc(375px * (24 / 375));
                                height: calc(375px * (24 / 375));
                            }

                            .ticket_date_text {
                                width: calc(375px * (180 / 375));
                                font-size: calc(375px * (20 / 375));
                            }
                        }
                    }
                    .ticket_button {
                        width: calc(375px * (400 / 375));
                        height: calc(375px * (200 / 375));
                        border-radius: calc(375px * (10 / 375)) calc(375px * (10 / 375)) calc(375px * (20 / 375)) calc(375px * (20 / 375));
                        top: calc(375px * (500 / 375));
                        border: dashed calc(375px * (3 / 375)) transparent;
                        &:hover {
                            & ~ .ticket_bottom {
                                transform: perspective(calc(375px * (800 / 375))) rotateY(180deg);
                            }
                        }
                    }
                    .ticket_bottom {
                        width: calc(375px * (400 / 375));
                        height: calc(375px * (200 / 375));
                        border-radius: calc(375px * (10 / 375)) calc(375px * (10 / 375)) calc(375px * (20 / 375)) calc(375px * (20 / 375));
                        transform: perspective(calc(375px * (800 / 375))) rotateY(0deg);
                        .ticket_front {
                            width: calc(375px * (400 / 375));
                            height: calc(375px * (200 / 375));
                            border-radius: calc(375px * (10 / 375)) calc(375px * (10 / 375)) calc(375px * (20 / 375)) calc(375px * (20 / 375));
                            border: solid calc(375px * (2 / 375)) #fff;
                            box-shadow:  calc(375px * (5 / 375)) calc(375px * (5 / 375)) calc(375px * (7 / 375)) #e4e4e4;
                        }
                        .ticket_back {
                            width: calc(375px * (400 / 375));
                            height: calc(375px * (200 / 375));
                            border-radius: calc(375px * (10 / 375)) calc(375px * (10 / 375)) calc(375px * (20 / 375)) calc(375px * (20 / 375));
                            border: solid calc(375px * (2 / 375)) #fff;
                            box-shadow:  calc(375px * (5 / 375)) calc(375px * (5 / 375)) calc(375px * (7 / 375)) #e4e4e4;
                            & span {
                                border-radius: calc(375px * (10 / 375)) calc(375px * (10 / 375)) calc(375px * (20 / 375)) calc(375px * (20 / 375)) !important;
                                line-height: calc(375px * (200 / 375));
                                font-size: calc(375px * (30 / 375));
                            }
                        }
                    }
                }
            }
        }

        &.main_contact {
            height: calc(375px * (360 / 375));

            .contact_display {
                .contact_title {
                    margin-bottom: calc(375px * (60 / 375));

                    .contact_title_span {
                        font-size: calc(375px * (20 / 375));
                    }
                }

                .contact_button_section {
                    .contact_donate_button {
                        box-shadow: calc(375px * (6 / 375)) calc(375px * (6 / 375)) calc(375px * (12 / 375)) #e4e4e4, calc(375px * (-6 / 375)) calc(375px * (-6 / 375)) calc(375px * (12 / 375)) #ffffff;
                        width: calc(375px * (240 / 375));
                        height: calc(375px * (46 / 375));
                        border-radius: calc(375px * (20 / 375));
                        margin: 0 calc(375px * (20 / 375));

                        .contact_donate_span {
                            font-size: calc(375px * (18 / 375));
                            line-height: calc(375px * (46 / 375));
                        }

                        &:hover {
                            box-shadow: calc(375px * (5 / 375)) calc(375px * (5 / 375)) calc(375px * (7 / 375)) #e4e4e4, calc(375px * (-5 / 375)) calc(375px * (-5 / 375)) calc(375px * (7 / 375)) #ffffff;

                            .contact_donate_span:before {
                                font-size: calc(375px * (12 / 375));
                            }
                        }
                    }

                    .contact_inquiry_button {
                        box-shadow: calc(375px * (6 / 375)) calc(375px * (6 / 375)) calc(375px * (12 / 375)) #e4e4e4, calc(375px * (-6 / 375)) calc(375px * (-6 / 375)) calc(375px * (12 / 375)) #ffffff;
                        width: calc(375px * (240 / 375));
                        height: calc(375px * (46 / 375));
                        border-radius: calc(375px * (20 / 375));
                        margin: 0 calc(375px * (20 / 375));

                        .contact_inquiry_span {
                            font-size: calc(375px * (18 / 375));
                            line-height: calc(375px * (46 / 375));
                        }

                        &:hover {
                            box-shadow: calc(375px * (5 / 375)) calc(375px * (5 / 375)) calc(375px * (7 / 375)) #e4e4e4, calc(375px * (-5 / 375)) calc(375px * (-5 / 375)) calc(375px * (7 / 375)) #ffffff;

                            .contact_inquiry_span:before {
                                font-size: calc(375px * (12 / 375));
                            }
                        }
                    }
                }
            }
        }

        &.main_board {
            height: calc(375px * (700 / 375));
        }
    }
}
