@media screen and (max-width: 768px) {
    #main_content {
        padding-top: calc(375px * (64 / 375));
    }

    .main_inner {
        width: calc(375px * (1260 / 768));
    }

    .gmg_calendar {
        padding: calc(375px * (10 / 375));
        border-radius: calc(375px * (10 / 375));
        border: solid calc(375px * (1 / 375)) #f23920;
        .gmg_calendar_control {
            width: calc(375px * (220 / 375));
            height: calc(375px * (20 / 375));
            margin-bottom: calc(375px * (10 / 375));
            .control_prev_btn {
                width: calc(375px * (20 / 375));
                height: calc(375px * (20 / 375));
                .control_prev_icon {
                    width: calc(375px * (20 / 375));
                    height: calc(375px * (20 / 375));
                }
            }
            .control_date_div {
                width: calc(375px * (120 / 375));
                height: calc(375px * (20 / 375));
                .control_date_text {
                    font-size: calc(375px * (18 / 375));
                    line-height: calc(375px * (20 / 375));
                }
            }
            .control_next_btn {
                width: calc(375px * (20 / 375));
                height: calc(375px * (20 / 375));
                .control_next_icon {
                    width: calc(375px * (20 / 375));
                    height: calc(375px * (20 / 375));
                }
            }
        }
        .gmg_calendar_days_section {
            width: calc(375px * (220 / 375));
            .days {
                font-size: calc(375px * (16 / 375));
            }
        }
        .gmg_calendar_date_section {
            width: calc(375px * (220 / 375));
            .date {
                line-height: calc(375px * (30 / 375));
                font-size: calc(375px * (16 / 375));
                border-radius: calc(375px * (30 / 375));
            }
        }
    }

    .gmg_timer {
        padding: calc(375px * (10 / 375)) 0 0;
        border-radius: calc(375px * (10 / 375));
        border: solid calc(375px * (1 / 375)) #f23920;
        .gmg_timer_control {
            width: calc(375px * (100 / 375));
            height: calc(375px * (50 / 375));
            .control_submit_btn {
                width: calc(375px * (80 / 375));
                height: calc(375px * (30 / 375));
                font-size: calc(375px * (14 / 375));
                border-radius: calc(375px * (20 / 375));
                box-shadow: calc(375px * (2 / 375)) calc(375px * (2 / 375)) calc(375px * (4 / 375)) #dedede, calc(375px * (-2 / 375)) calc(375px * (-2 / 375)) calc(375px * (4 / 375)) #ffffff;
                border: solid calc(375px * (2 / 375)) #f6f6f6;
            }
        }
        .gmg_timer_time_section {
            width: calc(375px * (100 / 375));
            height: calc(375px * (200 / 375));
            .gmg_timer_hour_section {
                border-right: solid calc(375px * (1 / 375)) #f6f6f6;
            }
            .gmg_timer_hour_section,
            .gmg_timer_min_section {
                width: calc(375px * (50 / 375));
                height: calc(375px * (200 / 375));
                border-top: solid calc(375px * (1 / 375)) #f6f6f6;
                border-bottom: solid calc(375px * (1 / 375)) #f6f6f6;
                .times {
                    font-size: calc(375px * (16 / 375));
                }
            }
        }
    }
}