@media screen and (max-width: 768px) {
    #main_content {
        padding-top: calc(375px * (64 / 384));
    }

    .main_inner {
        width: unset;
    }

    .gmg_calendar {
        padding: calc(384px * (10 / 384));
        border-radius: calc(384px * (10 / 384));
        border: solid calc(384px * (1 / 384)) #f23920;
        .gmg_calendar_control {
            width: calc(384px * (220 / 384));
            height: calc(384px * (20 / 384));
            margin-bottom: calc(384px * (10 / 384));
            .control_prev_btn {
                width: calc(384px * (20 / 384));
                height: calc(384px * (20 / 384));
                .control_prev_icon {
                    width: calc(384px * (20 / 384));
                    height: calc(384px * (20 / 384));
                }
            }
            .control_date_div {
                width: calc(384px * (120 / 384));
                height: calc(384px * (20 / 384));
                .control_date_text {
                    font-size: calc(384px * (18 / 384));
                    line-height: calc(384px * (20 / 384));
                }
            }
            .control_next_btn {
                width: calc(384px * (20 / 384));
                height: calc(384px * (20 / 384));
                .control_next_icon {
                    width: calc(384px * (20 / 384));
                    height: calc(384px * (20 / 384));
                }
            }
        }
        .gmg_calendar_days_section {
            width: calc(384px * (220 / 384));
            .days {
                font-size: calc(384px * (16 / 384));
            }
        }
        .gmg_calendar_date_section {
            width: calc(384px * (220 / 384));
            .date {
                line-height: calc(384px * (30 / 384));
                font-size: calc(384px * (16 / 384));
                border-radius: calc(384px * (30 / 384));
            }
        }
    }

    .gmg_timer {
        padding: calc(100vw * (10 / 384)) 0 0;
        border-radius: calc(100vw * (10 / 384));
        border: solid calc(100vw * (1 / 384)) #f23920;
        .gmg_timer_control {
            width: calc(100vw * (100 / 384));
            height: calc(100vw * (50 / 384));
            .control_submit_btn {
                width: calc(100vw * (80 / 384));
                height: calc(100vw * (30 / 384));
                font-size: calc(100vw * (14 / 384));
                border-radius: calc(100vw * (20 / 384));
                box-shadow: calc(100vw * (2 / 384)) calc(100vw * (2 / 384)) calc(100vw * (4 / 384)) #dedede, calc(100vw * (-2 / 384)) calc(100vw * (-2 / 384)) calc(100vw * (4 / 384)) #ffffff;
                border: solid calc(100vw * (2 / 384)) #f6f6f6;
            }
        }
        .gmg_timer_time_section {
            width: calc(100vw * (100 / 384));
            height: calc(100vw * (200 / 384));
            .gmg_timer_hour_section {
                border-right: solid calc(100vw * (1 / 384)) #f6f6f6;
            }
            .gmg_timer_hour_section,
            .gmg_timer_min_section {
                width: calc(100vw * (50 / 384));
                height: calc(100vw * (200 / 384));
                border-top: solid calc(100vw * (1 / 384)) #f6f6f6;
                border-bottom: solid calc(100vw * (1 / 384)) #f6f6f6;
                .times {
                    font-size: calc(100vw * (16 / 384));
                }
            }
        }
    }
}