.scoredream-300 {
    font-family: 'S-CoreDream-300', 'serif';
}

.scoredream-500 {
    font-family: 'S-CoreDream-500', 'serif';
}

.scoredream-700 {
    font-family: 'S-CoreDream-700', 'serif';
}

.scoredream-900 {
    font-family: 'S-CoreDream-900', 'serif';
}

.gaemigul_guide {
    color: #f23920;
}

.dark_text {
    color: #000;
}

.default_text {
    color: #3c3c3c;
}

.grey_text {
    color: #909090;
}

.light_grey_text {
    color: #d8d8d8;
}

.white_text {
    color: #fff;
}

.cursor_pointer {
    cursor: pointer;
}

.cursor_not_allowed {
    cursor: not-allowed;
}

#main_content {
    padding-top: 64px;
}

.main_inner {
    width: 1260px;
    margin: auto;
}

.gmg_date_picker_section {
    position: relative;
    .gmg_calendar {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 999;
    }
}

.gmg_time_picker_section {
    position: relative;
    .gmg_timer {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 999;
    }
}

.gmg_calendar {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    border: solid 1px #f23920;
    .gmg_calendar_control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        height: 20px;
        margin-bottom: 10px;
        .control_prev_btn {
            width: 20px;
            height: 20px;
            .control_prev_icon {
                width: 20px;
                height: 20px;
                color: #3c3c3c;
            }
        }
        .control_date_div {
            width: 120px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            .control_date_text {
                font-size: 18px;
                line-height: 20px;
            }
        }
        .control_next_btn {
            width: 20px;
            height: 20px;
            .control_next_icon {
                width: 20px;
                height: 20px;
                color: #3c3c3c;
            }
        }
    }
    .gmg_calendar_days_section {
        display: grid;
        width: 220px;
        grid-template-columns: repeat(7, 1fr);
        .days {
            font-size: 16px;
            text-align: center;
        }
    }
    .gmg_calendar_date_section {
        display: grid;
        width: 220px;
        grid-template-columns: repeat(7, 1fr);
        .date {
            line-height: 30px;
            font-size: 16px;
            text-align: center;
            border-radius: 30px;
            background: transparent;
            transition: 300ms;
            &.active_date {
                color: #fff;
                background: #f23920;
            }
        }
    }
}

.gmg_timer {
    padding: 10px 0 0;
    background: #fff;
    border-radius: 10px;
    border: solid 1px #f23920;
    .gmg_timer_control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        .control_submit_btn {
            background: transparent;
            width: 80px;
            height: 30px;
            text-align: center;
            font-size: 14px;
            transition: 300ms;
            border-radius: 20px;
            box-shadow: 2px 2px 4px #dedede, -2px -2px 4px #ffffff;
            border: solid 2px #f6f6f6;
            &:hover {
                background: #f23920;
                color: #fff;
            }
        }
    }
    .gmg_timer_time_section {
        display: flex;
        width: 100px;
        height: 200px;
        .gmg_timer_hour_section {
            border-right: solid 1px #f6f6f6;
        }
        .gmg_timer_hour_section,
        .gmg_timer_min_section {
            width: 50px;
            height: 200px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            border-top: solid 1px #f6f6f6;
            border-bottom: solid 1px #f6f6f6;
            .times {
                font-size: 16px;
                text-align: center;
                background: transparent;
                transition: 300ms;
                &.active_date {
                    color: #fff;
                    background: #f23920;
                }
                &:hover {
                    color: #f23920;
                }
            }
        }
    }
}