.travel_top_banner {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    z-index: 97;
    box-shadow:  2px 2px 4px #bfbfbf;

    margin-top: 64px;
}

.travel_top_banner .banner_inner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.travel_top_banner .banner_inner .banner_inner_info span {
    margin-right: 40px;
    font-size: 14px;
}

.travel_top_banner .banner_inner .banner_inner_button {
    display: flex;
    flex-direction: row;
}

.travel_top_banner .banner_inner .banner_button_clear {
    width: 100px;
    height: 32px;
    border-radius: 18px;
    text-align: center;

    background: #3c3c3c;
    box-shadow:  2px 2px 4px #bfbfbf,
    -2px -2px 4px #ffffff;

    margin-right: 14px;

    cursor: pointer;
}

.travel_top_banner .banner_inner .banner_button_save {
    width: 100px;
    height: 32px;
    border-radius: 18px;
    text-align: center;

    background: #f23920;
    box-shadow:  2px 2px 4px #bfbfbf,
    -2px -2px 4px #ffffff;

    cursor: pointer;
}

.travel_top_banner .banner_inner .banner_button_clear span,
.travel_top_banner .banner_inner .banner_button_save span {
    font-size: 12px;
    font-weight: 900;
    line-height: 32px;
    color: #fff;
}

.travel_map {
    width: 1920px !important;
    height: 100vh !important;
    position: fixed;
}

.travel_list_section {
    width: 400px;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index: 96;

    transition: 500ms;
    align-items: center;
}

.travel_list_section_no_hide {
    left: 0;
}

.travel_list_section_hide {
    left: -380px;
}

.travel_list_box {
    background: #ededed;
    box-shadow:  2px 2px 4px #bfbfbf;
    width: 380px;
    height: 100%;
}

.travel_list_box .travel_list_box_section {
    width: 380px;
    height: 100vh;
    padding-top: 114px;
}

.travel_list_button {
    width: 20px;
    height: 100px;
    background: linear-gradient(315deg, #ff3d22, #da331d);;
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 4px 6px #bfbfbf, -2px -2px 4px #bfbfbf;
    cursor: pointer;
}

.travel_list_box .travel_list_box_section .all_place_section {
    width: 100%;
    height: auto;
    max-height: 80vh;
    padding: 20px;
    overflow-y: auto;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;

    border-radius: 20px;
    background: #ededed;
    box-shadow:  11px 11px 21px #c9c9c9,
    -11px -11px 21px #ffffff;
    margin-bottom: 30px;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section_is_dragging {
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .drag_handler_div {
    width: 44px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .drag_handler_div .drag_handler_icon {
    width: 32px;
    height: 32px;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .select_place_div {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 150px;
    border: solid 2px #fff;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .default {
    background: #CBCBCB;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section  .hotel {
    background: #F05650;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .restaurant {
    background: #FFD400;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .museum {
    background: #E7A2E7;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .leisure {
    background: #4DCEB8;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .rest {
    background: #7ABD76;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .shopping {
    background: #FFA048;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .select_place_div .select_place_icon {
    width: 16px;
    height: 16px;
    color: #3c3c3c;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .place_list_div {
    display: flex;
    flex-direction: column;
    width: 222px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .place_list_div .place {
    font-size: 16px;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .place_list_div .address {
    font-size: 12px;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .close_div {
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travel_list_box .travel_list_box_section .all_place_section .place_list_section .close_div .close_icon {
    width: 20px;
    height: 20px;
    color: #3c3c3c;

    cursor: pointer;
}