@import "../../assets/css/header.css";
@import "../../assets/css/footer.css";
@import "../../assets/css/main.css";
@import "../../assets/css/main_page.css";
@import "../../assets/css/sign_in.css";
@import "../../assets/css/loading.css";
@import "../../assets/css/travel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'S-CoreDream-300';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-500';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-700';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream7.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-900';
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream9.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.gaemigul_guide {
    color: rgb(255, 69, 00)
}

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
