@import "@css/header.css";
@import "@css/footer.css";
@import "@css/main.css";
@import "@css/main_page.css";
@import "@css/loading.css";
@import "@css/travel.css";
@import "@css/tablet/header.css";
@import "@css/tablet/footer.css";
@import "@css/tablet/main.css";
@import "@css/tablet/main_page.css";
@import "@css/tablet/travel.css";
@import "@css/mobile/header.css";
@import "@css/mobile/footer.css";
@import "@css/mobile/main.css";
@import "@css/mobile/main_page.css";
@import "@css/mobile/travel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'S-CoreDream-300';
    src: url('../../assets/fonts/SCDream/SCDream3.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-500';
    src: url('../../assets/fonts/SCDream/SCDream5.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-700';
    src: url('../../assets/fonts/SCDream/SCDream7.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-900';
    src: url('../../assets/fonts/SCDream/SCDream9.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

input:focus,
select:focus,
button:focus {
    outline:none;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display_none {
    display: none !important;
}

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
