@media screen and (max-width: 1300px) {
    #footer_pc {
        .footer_section {
            box-shadow: inset 0 calc(1024px * (1 / 1300)) 0 #E8E8E8;
            .inner_section {
                width: 100%;
                height: calc(1024px * (120 / 1300));
                .footer_copyright {
                    font-size: calc(1024px * (12 / 1300));
                }
            }
        }
    }

    #footer_box {
        .footer_section {
            box-shadow: inset 0 calc(1024px * (1 / 1300)) 0 #E8E8E8;
            .inner_section {
                height: calc(1024px * (70 / 1300));
                .footer_copyright {
                    font-size: calc(1024px * (12 / 1300));
                }
            }
        }
    }
}