@media screen and (max-width: 1300px) {
    #header_pc {
        .header_section {
            box-shadow:  calc(100vw * (-4 / 1300)) calc(100vw * (-4 / 1300)) calc(100vw * (8 / 1300)) #bfbfbf, calc(100vw * (4 / 1300)) calc(100vw * (4 / 1300)) calc(100vw * (8 / 1300)) #ffffff;
            .inner_section {
                width: 100%;
                height: calc(100vw * (64 / 1300));
                .header_sign_in_div {
                    width: calc(100vw * (40 / 1300));
                    height: calc(100vw * (40 / 1300));
                    .header_sign_in_button {
                        width: calc(100vw * (20 / 1300));
                        height: calc(100vw * (20 / 1300));
                    }
                }
                .navigation {
                    height: calc(100vw * (64 / 1300));
                    gap: calc(100vw * (90 / 1300));
                    .header_logo {
                        width: calc(100vw * (240 / 1300));
                    }
                    .navigation_text {
                        line-height: calc(100vw * (64 / 1300));
                        font-size: calc(100vw * (16 / 1300));
                        &:after {
                            border-bottom: solid calc(100vw * (3 / 1300)) rgb(242, 57, 32);
                        }
                    }
                }
            }
        }
    }
}