@media screen and (max-width: 1300px) {
    .main_page_section {
        /*width: 100%;*/
        margin-bottom: calc(768px * (20 / 1300));

        &.main_introduce {
            height: calc(768px * (800 / 1300));
            box-shadow: inset 0 calc(768px * (-1 / 1300)) 0 #E8E8E8;

            .introduce_display {
                .introduce_title {
                    margin-top: calc(768px * (460 / 1300));

                    .introduce_title_span {
                        font-size: calc(768px * (60 / 1300));
                        line-height: calc(768px * (80 / 1300));
                    }

                    .introduce_title_span_highlight {
                        color: rgb(242, 57, 32);
                    }
                }

                .introduce_ticket {
                    width: calc(768px * (600 / 1300));

                    .ticket_top {
                        width: calc(768px * (400 / 1300));
                        height: calc(768px * (500 / 1300));
                        border-radius: 0 0 calc(768px * (10 / 1300)) calc(768px * (10 / 1300));
                        border: solid calc(768px * (2 / 1300)) #fff;
                        box-shadow: calc(768px * (5 / 1300)) calc(768px * (5 / 1300)) calc(768px * (7 / 1300)) #e4e4e4, calc(768px * (-5 / 1300)) calc(768px * (-5 / 1300)) calc(768px * (7 / 1300)) #ffffff;

                        .ticket_place {
                            width: calc(768px * (260 / 1300));
                            height: calc(768px * (100 / 1300));
                            margin: calc(768px * (70 / 1300)) auto 0;
                            gap: calc(768px * (30 / 1300));

                            .ticket_place_from {
                                width: calc(768px * (118 / 1300));
                                height: calc(768px * (80 / 1300));
                                line-height: calc(768px * (80 / 1300));
                                font-size: calc(768px * (34 / 1300));

                                &:before {
                                    width: calc(768px * (20 / 1300));
                                    height: calc(768px * (20 / 1300));
                                }
                            }

                            .ticket_place_to {
                                width: calc(768px * (110 / 1300));
                                height: calc(768px * (60 / 1300));
                                box-shadow: inset calc(768px * (5 / 1300)) calc(768px * (5 / 1300)) calc(768px * (10 / 1300)) #cecece, inset calc(768px * (-5 / 1300)) calc(768px * (-5 / 1300)) calc(768px * (10 / 1300)) #ffffff;
                                border-radius: calc(768px * (20 / 1300));
                                line-height: calc(768px * (60 / 1300));
                                font-size: calc(768px * (34 / 1300));
                                margin-top: calc(768px * (10 / 1300));

                                &:before {
                                    width: calc(768px * (20 / 1300));
                                    height: calc(768px * (20 / 1300));
                                }
                            }
                        }

                        .ticket_start,
                        .ticket_end {
                            width: calc(768px * (260 / 1300));
                            height: calc(768px * (40 / 1300));
                            margin: calc(768px * (10 / 1300)) auto calc(768px * (40 / 1300));
                            box-shadow: inset calc(768px * (5 / 1300)) calc(768px * (5 / 1300)) calc(768px * (10 / 1300)) #cecece, inset calc(768px * (-5 / 1300)) calc(768px * (-5 / 1300)) calc(768px * (10 / 1300)) #ffffff;
                            border-radius: calc(768px * (20 / 1300));
                            padding: 0 calc(768px * (20 / 1300));

                            .date_icon {
                                width: calc(768px * (24 / 1300));
                                height: calc(768px * (24 / 1300));
                            }

                            .ticket_date_text {
                                width: calc(768px * (180 / 1300));
                                font-size: calc(768px * (20 / 1300));
                            }
                        }
                    }
                    .ticket_button {
                        width: calc(768px * (400 / 1300));
                        height: calc(768px * (200 / 1300));
                        border-radius: calc(768px * (10 / 1300)) calc(768px * (10 / 1300)) calc(768px * (20 / 1300)) calc(768px * (20 / 1300));
                        top: calc(768px * (500 / 1300));
                        border: dashed calc(768px * (3 / 1300)) transparent;
                        &:hover {
                            & ~ .ticket_bottom {
                                transform: perspective(calc(768px * (800 / 1300))) rotateY(180deg);
                            }
                        }
                    }
                    .ticket_bottom {
                        width: calc(768px * (400 / 1300));
                        height: calc(768px * (200 / 1300));
                        border-radius: calc(768px * (10 / 1300)) calc(768px * (10 / 1300)) calc(768px * (20 / 1300)) calc(768px * (20 / 1300));
                        transform: perspective(calc(768px * (800 / 1300))) rotateY(0deg);
                        .ticket_front {
                            width: calc(768px * (400 / 1300));
                            height: calc(768px * (200 / 1300));
                            border-radius: calc(768px * (10 / 1300)) calc(768px * (10 / 1300)) calc(768px * (20 / 1300)) calc(768px * (20 / 1300));
                            border: solid calc(768px * (2 / 1300)) #fff;
                            box-shadow:  calc(768px * (5 / 1300)) calc(768px * (5 / 1300)) calc(768px * (7 / 1300)) #e4e4e4;
                        }
                        .ticket_back {
                            width: calc(768px * (400 / 1300));
                            height: calc(768px * (200 / 1300));
                            border-radius: calc(768px * (10 / 1300)) calc(768px * (10 / 1300)) calc(768px * (20 / 1300)) calc(768px * (20 / 1300));
                            border: solid calc(768px * (2 / 1300)) #fff;
                            box-shadow:  calc(768px * (5 / 1300)) calc(768px * (5 / 1300)) calc(768px * (7 / 1300)) #e4e4e4;
                            & span {
                                border-radius: calc(768px * (10 / 1300)) calc(768px * (10 / 1300)) calc(768px * (20 / 1300)) calc(768px * (20 / 1300)) !important;
                                line-height: calc(768px * (200 / 1300));
                                font-size: calc(768px * (30 / 1300));
                            }
                        }
                    }
                }
            }
        }

        &.main_contact {
            height: calc(768px * (360 / 1300));

            .contact_display {
                .contact_title {
                    margin-bottom: calc(768px * (60 / 1300));

                    .contact_title_span {
                        font-size: calc(768px * (20 / 1300));
                    }
                }

                .contact_button_section {
                    .contact_donate_button {
                        box-shadow: calc(768px * (6 / 1300)) calc(768px * (6 / 1300)) calc(768px * (12 / 1300)) #e4e4e4, calc(768px * (-6 / 1300)) calc(768px * (-6 / 1300)) calc(768px * (12 / 1300)) #ffffff;
                        width: calc(768px * (240 / 1300));
                        height: calc(768px * (46 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        margin: 0 calc(768px * (20 / 1300));

                        .contact_donate_span {
                            font-size: calc(768px * (18 / 1300));
                            line-height: calc(768px * (46 / 1300));
                        }

                        &:hover {
                            box-shadow: calc(768px * (5 / 1300)) calc(768px * (5 / 1300)) calc(768px * (7 / 1300)) #e4e4e4, calc(768px * (-5 / 1300)) calc(768px * (-5 / 1300)) calc(768px * (7 / 1300)) #ffffff;

                            .contact_donate_span:before {
                                font-size: calc(768px * (12 / 1300));
                            }
                        }
                    }

                    .contact_inquiry_button {
                        box-shadow: calc(768px * (6 / 1300)) calc(768px * (6 / 1300)) calc(768px * (12 / 1300)) #e4e4e4, calc(768px * (-6 / 1300)) calc(768px * (-6 / 1300)) calc(768px * (12 / 1300)) #ffffff;
                        width: calc(768px * (240 / 1300));
                        height: calc(768px * (46 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        margin: 0 calc(768px * (20 / 1300));

                        .contact_inquiry_span {
                            font-size: calc(768px * (18 / 1300));
                            line-height: calc(768px * (46 / 1300));
                        }

                        &:hover {
                            box-shadow: calc(768px * (5 / 1300)) calc(768px * (5 / 1300)) calc(768px * (7 / 1300)) #e4e4e4, calc(768px * (-5 / 1300)) calc(768px * (-5 / 1300)) calc(768px * (7 / 1300)) #ffffff;

                            .contact_inquiry_span:before {
                                font-size: calc(768px * (12 / 1300));
                            }
                        }
                    }
                }
            }
        }

        &.main_board {
            height: calc(768px * (700 / 1300));
        }
    }
}
