@media screen and (max-width: 1300px) {
    #sign_in_background {
        .sign_in_modal {
            width: calc(1024px * (460 / 1300));
            height: calc(1024px * (300 / 1300));
            box-shadow: calc(1024px * (4 / 1300)) calc(1024px * (4 / 1300)) calc(1024px * (10 / 1300)) rgba(0, 0, 0, 0.4);
            .sign_in_span {
                font-size: calc(1024px * (24 / 1300));
                line-height: calc(1024px * (64 / 1300));
                margin-bottom: calc(1024px * (30 / 1300));
                box-shadow: inset 0 calc(1024px * (-2 / 1300)) 0 rgb(242, 57, 32);
            }
            .sign_in_desc {
                font-size: calc(1024px * (16 / 1300));
                line-height: calc(1024px * (24 / 1300));
                margin-bottom: calc(1024px * (30 / 1300));
            }
            .sign_in_close {
                .sign_in_close_text {
                    font-size: calc(1024px * (14 / 1300));
                    line-height: calc(1024px * (16 / 1300));
                    margin-bottom: calc(1024px * (30 / 1300));
                }
            }
            .btn_kakao_login {
                width: calc(1024px * (300 / 1300));
                height: calc(1024px * (45 / 1300));
                margin-bottom: calc(1024px * (30 / 1300));
            }
        }
    }
}