@media screen and (max-width: 1300px) {
    .control_background {
        .control_section {
            padding: calc(768px * (20 / 1300));
            border-radius: calc(768px * (20 / 1300));
            gap: calc(768px * (20 / 1300));
            .control_title {
                width: calc(768px * (600 / 1300));
                & span {
                    font-size: calc(768px * (18 / 1300));
                }
            }
            .control_region {
                width: calc(768px * (600 / 1300));
                height: calc(768px * (40 / 1300));
                gap: calc(768px * (20 / 1300));
                .region_title {
                    width: calc(768px * (80 / 1300));
                    .title_span {
                        font-size: calc(768px * (14 / 1300));
                    }
                }
                .region_content {
                    width: calc(768px * (500 / 1300));
                    .region {
                        width: calc(768px * (120 / 1300));
                        font-size: calc(768px * (14 / 1300));
                    }
                }
            }
            .control_people {
                width: calc(768px * (600 / 1300));
                height: calc(768px * (40 / 1300));
                gap: calc(768px * (20 / 1300));
                .people_title {
                    width: calc(768px * (80 / 1300));
                    .title_span {
                        font-size: calc(768px * (14 / 1300));
                    }
                }
                .people_content {
                    width: calc(768px * (500 / 1300));
                    gap: calc(768px * (20 / 1300));
                    .people_plus_btn {
                        width: calc(768px * (20 / 1300));
                        height: calc(768px * (20 / 1300));
                        .people_plus_icon {
                            width: calc(768px * (20 / 1300));
                            height: calc(768px * (20 / 1300));
                        }
                    }
                    .people_minus_btn {
                        width: calc(768px * (20 / 1300));
                        height: calc(768px * (20 / 1300));
                        .people_minus_icon {
                            width: calc(768px * (20 / 1300));
                            height: calc(768px * (20 / 1300));
                        }
                    }
                    & input[type="text"] {
                        width: calc(768px * (30 / 1300));
                    }
                    .people {
                        font-size: calc(768px * (14 / 1300));
                    }
                }
            }
            .control_date {
                width: calc(768px * (600 / 1300));
                gap: calc(768px * (20 / 1300));
                .date_title {
                    width: calc(768px * (80 / 1300));
                    .title_span {
                        font-size: calc(768px * (14 / 1300));
                    }
                }
                .date_content {
                    width: calc(768px * (500 / 1300));
                    .date_sub_title {
                        gap: calc(768px * (10 / 1300));
                        font-size: calc(768px * (14 / 1300));
                        margin-bottom: calc(768px * (10 / 1300));
                        .date {
                            font-size: calc(768px * (14 / 1300));
                        }
                    }
                }
            }
            .control_button {
                width: calc(768px * (600 / 1300));
                .button_submit {
                    border-radius: calc(768px * (30 / 1300));
                    box-shadow: calc(768px * (4 / 1300)) calc(768px * (4 / 1300)) calc(768px * (9 / 1300)) #dedede, calc(768px * (-4 / 1300)) calc(768px * (-4 / 1300)) calc(768px * (9 / 1300)) #ffffff;
                    border: solid calc(768px * (2 / 1300)) #f6f6f6;
                    font-size: calc(768px * (14 / 1300));
                    padding: calc(768px * (4 / 1300)) calc(768px * (30 / 1300));
                }
            }
        }
    }

    .travel_top_banner {
        height: calc(768px * (50 / 1300));
        box-shadow:  calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #bfbfbf;
        margin-top: calc(768px * (64 / 1300));
        .banner_inner {
            .banner_inner_info {
                & span {
                    margin-right: calc(768px * (40 / 1300));
                    font-size: calc(768px * (14 / 1300));
                }
            }
            .banner_inner_button {
                gap: calc(768px * (10 / 1300));
            }
            /*.banner_button_clear {*/
            /*    width: calc(768px * (100 / 1300));*/
            /*    height: calc(768px * (32 / 1300));*/
            /*    border-radius: calc(768px * (18 / 1300));*/
            /*    box-shadow:  calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #bfbfbf,*/
            /*    calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #ffffff;*/
            /*    margin-right: calc(768px * (14 / 1300));*/
            /*    & span {*/
            /*        font-size: calc(768px * (12 / 1300));*/
            /*        line-height: calc(768px * (32 / 1300));*/
            /*    }*/
            /*}*/
            .banner_button_save {
                height: calc(768px * (32 / 1300));
                padding: 0 calc(768px * (20 / 1300));
                border-radius: calc(768px * (18 / 1300));
                box-shadow:  calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #dbdbdb,
                calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #ffffff;
                border: solid calc(768px * (1 / 1300)) #f0f0f0;
                & span {
                    font-size: calc(768px * (12 / 1300));
                }
            }
        }
    }

    .travel_list_section {
        width: calc(768px * (500 / 1300));
        &.travel_list_section_hide {
            left: calc(768px * (-480 / 1300));
        }
        .travel_list_box {
            box-shadow:  calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #bfbfbf;
            width: calc(768px * (480 / 1300));
            .travel_list_box_section {
                width: calc(768px * (480 / 1300));
                padding-top: calc(768px * (114 / 1300));
                .travel_list_box_menu {
                    height: calc(768px * (96 / 1300));
                    box-shadow:  calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #bfbfbf, calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #ffffff;
                    .travel_list_box_menu_top {
                        height: calc(768px * (48 / 1300));
                        padding: 0 calc(768px * (20 / 1300));
                        border-bottom: solid calc(768px * (1 / 1300)) #e9e9e9;
                        .select_date {
                            width: calc(768px * (150 / 1300));
                            height: calc(768px * (30 / 1300));
                            font-size: calc(768px * (14 / 1300));
                        }
                        .current_clear_button {
                            font-size: calc(768px * (14 / 1300));
                            gap: calc(768px * (6 / 1300));
                            .current_clear_icon {
                                width: calc(768px * (18 / 1300));
                                height: calc(768px * (18 / 1300));
                            }
                        }
                    }
                    .travel_list_box_menu_bottom {
                        height: calc(768px * (48 / 1300));
                        padding: 0 calc(768px * (20 / 1300));
                        & div {
                            .tab_button {
                                font-size: calc(768px * (14 / 1300));
                            }
                        }
                    }
                }
                .all_place_section {
                    max-height: calc(100vh - (768px * (280 / 1300)));
                    padding: calc(768px * (20 / 1300));
                    .place_list_section {
                        height: calc(768px * (74 / 1300));
                        gap: calc(768px * (10 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        border: solid calc(768px * (1 / 1300)) #f4f4f4;
                        box-shadow:  calc(768px * (8 / 1300)) calc(768px * (8 / 1300)) calc(768px * (16 / 1300)) #dfdfdf, calc(768px * (-8 / 1300)) calc(768px * (-8 / 1300)) calc(768px * (16 / 1300)) #fbfbfb;
                        margin-bottom: calc(768px * (30 / 1300));
                        .add_button {
                            height: calc(768px * (30 / 1300));
                            bottom: calc(768px * (-30 / 1300));
                            border-radius: calc(768px * (20 / 1300));
                            border: dotted calc(768px * (2 / 1300)) transparent;
                            .add_icon {
                                width: calc(768px * (18 / 1300));
                                height: calc(768px * (18 / 1300));
                            }
                            &:hover {
                                border: dotted calc(768px * (2 / 1300)) #3c3c3c;
                            }
                            &.active {
                                border: dotted calc(768px * (2 / 1300)) #f23920;
                            }
                        }
                        .drag_handler_div {
                            width: calc(768px * (34 / 1300));
                            margin: calc(768px * (6 / 1300));
                            .drag_handler_icon {
                                width: calc(768px * (32 / 1300));
                                height: calc(768px * (32 / 1300));
                            }
                        }
                        .place_list_div {
                            width: calc(768px * (300 / 1300));
                            .place {
                                font-size: calc(768px * (16 / 1300));
                            }
                            .address {
                                font-size: calc(768px * (12 / 1300));
                            }
                        }
                        .close_div {
                            width: calc(768px * (32 / 1300));
                            margin-left: calc(768px * (30 / 1300));
                            .close_icon {
                                width: calc(768px * (20 / 1300));
                                height: calc(768px * (20 / 1300));
                            }
                        }
                    }
                }
                .all_road_section {
                    height: calc(100vh - (768px * (280 / 1300)));
                    padding: calc(768px * (20 / 1300));
                    .place_control_section {
                        height: calc(768px * (74 / 1300));
                        gap: calc(768px * (10 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        margin-bottom: calc(768px * (10 / 1300));
                        .place_control_div {
                            width: calc(768px * (300 / 1300));
                            margin: 0 calc(768px * (13 / 1300));
                            .remove,
                            .search {
                                font-size: calc(768px * (14 / 1300));
                                width: calc(768px * (130 / 1300));
                                height: calc(768px * (40 / 1300));
                                border-radius: calc(768px * (12 / 1300));
                                border: solid calc(768px * (1 / 1300)) #f4f4f4;
                                box-shadow: calc(768px * (4 / 1300)) calc(768px * (4 / 1300)) calc(768px * (9 / 1300)) #dfdfdf, calc(768px * (-4 / 1300)) calc(768px * (-4 / 1300)) calc(768px * (9 / 1300)) #fbfbfb;
                            }
                        }
                    }
                    .place_list_section {
                        height: calc(768px * (74 / 1300));
                        gap: calc(768px * (10 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        border: solid calc(768px * (1 / 1300)) #f4f4f4;
                        box-shadow:  calc(768px * (8 / 1300)) calc(768px * (8 / 1300)) calc(768px * (16 / 1300)) #dfdfdf, calc(768px * (-8 / 1300)) calc(768px * (-8 / 1300)) calc(768px * (16 / 1300)) #fbfbfb;
                        margin-bottom: calc(768px * (10 / 1300));
                        &:hover {
                            .place_amount_div {
                                .amount_input_div {
                                    box-shadow: inset calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #e6361e, inset calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #fe3c22;
                                }
                            }
                            .place_stay_time_div {
                                .time_input_div {
                                    box-shadow: inset calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #e6361e, inset calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #fe3c22;
                                }
                            }
                        }
                        .place_list_div {
                            width: calc(768px * (160 / 1300));
                            .place {
                                font-size: calc(768px * (16 / 1300));
                            }
                            .address {
                                font-size: calc(768px * (12 / 1300));
                            }
                        }
                    }
                    .place_road_section {
                        height: calc(768px * (74 / 1300));
                        gap: calc(768px * (10 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        .place_list_div {
                            gap: calc(768px * (5 / 1300));
                            width: calc(768px * (160 / 1300));
                            .place {
                                font-size: calc(768px * (16 / 1300));
                                max-width: calc(768px * (64 / 1300));
                            }
                            .arrow {
                                width: calc(768px * (18 / 1300));
                                height: calc(768px * (18 / 1300));
                            }
                        }
                    }
                    .place_path_section {
                        height: calc(768px * (120 / 1300));
                        .place_path_start {
                            height: calc(768px * (50 / 1300));
                            gap: calc(768px * (10 / 1300));
                            border-radius: calc(768px * (20 / 1300));
                        }
                        .route_detail_hide_btn {
                            height: calc(768px * (20 / 1300));
                            .route_detail_hide_icon {
                                width: calc(768px * (18 / 1300));
                                height: calc(768px * (18 / 1300));
                            }
                        }
                        .place_path_end {
                            height: calc(768px * (50 / 1300));
                            gap: calc(768px * (10 / 1300));
                            border-radius: calc(768px * (20 / 1300));
                        }
                        .place_list_div {
                            gap: calc(768px * (5 / 1300));
                            width: calc(768px * (240 / 1300));
                            margin-right: calc(768px * (30 / 1300));
                            .place {
                                max-width: calc(768px * (220 / 1300));
                                font-size: calc(768px * (16 / 1300));
                            }
                            .arrow {
                                width: calc(768px * (18 / 1300));
                                height: calc(768px * (18 / 1300));
                            }
                        }
                    }
                    .place_path_hide_btn {
                        height: calc(768px * (20 / 1300));
                        margin-bottom: calc(768px * (10 / 1300));
                        .place_path_hide_icon {
                            width: calc(768px * (18 / 1300));
                            height: calc(768px * (18 / 1300));
                        }
                    }
                    .place_amount_div {
                        width: calc(768px * (100 / 1300));
                        .amount_type {
                            font-size: calc(768px * (10 / 1300));
                        }
                        .amount_input_div {
                            box-shadow: inset calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #cecece, inset calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #ffffff;
                            border-radius: calc(768px * (10 / 1300));
                            .amount_unit {
                                font-size: calc(768px * (10 / 1300));
                                margin-left: calc(768px * (5 / 1300));
                            }
                            .amount {
                                font-size: calc(768px * (24 / 1300));
                                line-height: calc(768px * (26 / 1300));
                                width: calc(768px * (72 / 1300));
                            }
                        }
                    }
                    .place_stay_time_div {
                        width: calc(768px * (100 / 1300));
                        .time_type {
                            font-size: calc(768px * (10 / 1300));
                        }
                        .time_input_div {
                            box-shadow: inset calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #cecece, inset calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #ffffff;
                            border-radius: calc(768px * (10 / 1300));
                            .stay_time_times {
                                font-size: calc(768px * (24 / 1300));
                                line-height: calc(768px * (26 / 1300));
                            }
                            .stay_time_hours {
                                font-size: calc(768px * (24 / 1300));
                                line-height: calc(768px * (26 / 1300));
                                width: calc(768px * (30 / 1300));
                            }
                            .time_unit {
                                font-size: calc(768px * (10 / 1300));
                            }
                        }
                    }
                    .place_move_time_div {
                        width: calc(768px * (100 / 1300));
                        .time_type {
                            font-size: calc(768px * (10 / 1300));
                        }
                        .time_input_div {
                            .move_time {
                                font-size: calc(768px * (24 / 1300));
                                line-height: calc(768px * (26 / 1300));
                            }
                        }
                    }
                    .select_place_div,
                    .select_vehicle_div {
                        width: calc(768px * (34 / 1300));
                        height: calc(768px * (34 / 1300));
                        margin: calc(768px * (6 / 1300));
                        border-radius: calc(768px * (150 / 1300));
                        border: solid calc(768px * (2 / 1300)) #fff;
                        .select_place_icon,
                        .select_vehicle_icon {
                            width: calc(768px * (18 / 1300));
                            height: calc(768px * (18 / 1300));
                        }
                    }
                    .select_place_tab,
                    .select_vehicle_tab {
                        gap: calc(768px * (2 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        border: solid calc(768px * (1 / 1300)) #fff;
                        .select_place_div,
                        .select_vehicle_div {
                            &.active {
                                border: solid calc(768px * (2 / 1300)) #f23920;
                            }
                        }
                    }
                }
                .all_result_section {
                    height: calc(100vh - (768px * (280 / 1300)));
                    padding: calc(768px * (20 / 1300));
                    .place_control_section {
                        height: calc(768px * (74 / 1300));
                        gap: calc(768px * (10 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        margin-bottom: calc(768px * (10 / 1300));
                        .place_control_div {
                            width: calc(768px * (300 / 1300));
                            margin: 0 calc(768px * (13 / 1300));
                            & div {
                                .title {
                                    font-size: calc(768px * (14 / 1300));
                                    width: calc(768px * (130 / 1300));
                                    height: calc(768px * (40 / 1300));
                                    border-radius: calc(768px * (12 / 1300));
                                }
                            }
                        }
                    }
                    .place_list_section {
                        height: calc(768px * (74 / 1300));
                        gap: calc(768px * (10 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        border: solid calc(768px * (1 / 1300)) #f4f4f4;
                        box-shadow: calc(768px * (8 / 1300)) calc(768px * (8 / 1300)) calc(768px * (16 / 1300)) #dfdfdf, calc(768px * (-8 / 1300)) calc(768px * (-8 / 1300)) calc(768px * (16 / 1300)) #fbfbfb;
                        margin-bottom: calc(768px * (10 / 1300));
                        .place_list_div {
                            width: calc(768px * (160 / 1300));
                            .place {
                                font-size: calc(768px * (16 / 1300));
                            }
                            .address {
                                font-size: calc(768px * (12 / 1300));
                            }
                        }
                    }
                    .place_road_section {
                        height: calc(768px * (50 / 1300));
                        gap: calc(768px * (10 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        margin-bottom: calc(768px * (10 / 1300));
                        .place_list_div {
                            gap: calc(768px * (5 / 1300));
                            width: calc(768px * (160 / 1300));
                            .place {
                                font-size: calc(768px * (16 / 1300));
                                max-width: calc(768px * (64 / 1300));
                            }
                            .arrow {
                                width: calc(768px * (18 / 1300));
                                height: calc(768px * (18 / 1300));
                            }
                        }
                    }
                    .place_path_section {
                        height: calc(768px * (100 / 1300));
                        .place_path_start {
                            height: calc(768px * (50 / 1300));
                            gap: calc(768px * (10 / 1300));
                            border-radius: calc(768px * (20 / 1300));
                        }
                        .place_path_end {
                            height: calc(768px * (50 / 1300));
                            gap: calc(768px * (10 / 1300));
                            border-radius: calc(768px * (20 / 1300));
                        }
                        .place_list_div {
                            gap: calc(768px * (5 / 1300));
                            width: calc(768px * (240 / 1300));
                            margin-right: calc(768px * (30 / 1300));
                            .place {
                                max-width: calc(768px * (220 / 1300));
                                font-size: calc(768px * (16 / 1300));
                            }
                            .arrow {
                                width: calc(768px * (18 / 1300));
                                height: calc(768px * (18 / 1300));
                            }
                        }
                    }
                    .place_amount_div {
                        width: calc(768px * (100 / 1300));
                        .amount_type {
                            font-size: calc(768px * (10 / 1300));
                        }
                        .amount_input_div {
                            .amount_unit {
                                font-size: calc(768px * (10 / 1300));
                                margin-left: calc(768px * (5 / 1300));
                            }
                            .amount {
                                font-size: calc(768px * (24 / 1300));
                                line-height: calc(768px * (26 / 1300));
                                width: calc(768px * (72 / 1300));
                            }
                        }
                    }
                    .place_stay_time_div {
                        width: calc(768px * (100 / 1300));
                        .time_type {
                            font-size: calc(768px * (10 / 1300));
                        }
                        .time_input_div {
                            .stay_time_times {
                                font-size: calc(768px * (24 / 1300));
                                line-height: calc(768px * (26 / 1300));
                            }
                            .stay_time_hours {
                                font-size: calc(768px * (24 / 1300));
                                line-height: calc(768px * (26 / 1300));
                                width: calc(768px * (30 / 1300));
                            }
                            .time_unit {
                                font-size: calc(768px * (10 / 1300));
                            }
                        }
                    }
                    .place_move_time_div {
                        width: calc(768px * (100 / 1300));
                        .time_type {
                            font-size: calc(768px * (10 / 1300));
                        }
                        .time_input_div {
                            .move_time {
                                font-size: calc(768px * (24 / 1300));
                                line-height: calc(768px * (26 / 1300));
                            }
                        }
                    }
                    .select_place_div,
                    .select_vehicle_div {
                        width: calc(768px * (34 / 1300));
                        height: calc(768px * (34 / 1300));
                        margin: calc(768px * (6 / 1300));
                        border-radius: calc(768px * (150 / 1300));
                        border: solid calc(768px * (2 / 1300)) #fff;
                        .select_place_icon,
                        .select_vehicle_icon {
                            width: calc(768px * (18 / 1300));
                            height: calc(768px * (18 / 1300));
                        }
                    }
                    .select_place_tab,
                    .select_vehicle_tab {
                        gap: calc(768px * (2 / 1300));
                        border-radius: calc(768px * (20 / 1300));
                        border: solid calc(768px * (1 / 1300)) #fff;
                        .select_place_div,
                        .select_vehicle_div {
                            &.active {
                                border: solid calc(768px * (2 / 1300)) #f23920;
                            }
                        }
                    }
                }
            }
        }
        .travel_list_button {
            width: calc(768px * (20 / 1300));
            &:after {
                width: calc(768px * (10 / 1300));
                height: calc(768px * (100 / 1300));
                border-radius: calc(768px * (20 / 1300));
            }
        }
    }

    .travel_search_section {
        width: calc(768px * (400 / 1300));
        height: calc(100vh - (768px * (150 / 1300)));
        top: calc(768px * (140 / 1300));
        left: calc(768px * (510 / 1300));
        border-radius: calc(768px * (20 / 1300));
        box-shadow: calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #bfbfbf, calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #bfbfbf;
        .search_button_div {
            padding: calc(768px * (10 / 1300)) calc(768px * (20 / 1300));
            gap: calc(768px * (10 / 1300));
            border-bottom: solid calc(768px * (1 / 1300)) #ececec;
            .close_div {
                height: calc(768px * (30 / 1300));
                .close_icon {
                    width: calc(768px * (24 / 1300));
                    height: calc(768px * (24 / 1300));
                }
            }
            .keyword_input_div {
                width: calc(768px * (360 / 1300));
                height: calc(768px * (30 / 1300));
                gap: calc(768px * (10 / 1300));
                border-radius: calc(768px * (12 / 1300));
                border: solid calc(768px * (1 / 1300)) #ececec;
                .keyword_input {
                    width: calc(768px * (340 / 1300));
                    line-height: calc(768px * (30 / 1300));
                    margin: 0 calc(768px * (10 / 1300));
                    font-size: calc(768px * (16 / 1300));
                }
            }
            .search_btn_keyword {
                width: calc(768px * (360 / 1300));
                height: calc(768px * (30 / 1300));
                gap: calc(768px * (10 / 1300));
                border-radius: calc(768px * (12 / 1300));
                border: solid calc(768px * (1 / 1300)) #ececec;
                box-shadow:  calc(768px * (4 / 1300)) calc(768px * (4 / 1300)) calc(768px * (9 / 1300)) #ebebeb, calc(768px * (-4 / 1300)) calc(768px * (-4 / 1300)) calc(768px * (9 / 1300)) #ffffff;
                .keyword_icon {
                    width: calc(768px * (18 / 1300));
                    height: calc(768px * (18 / 1300));
                }
                & span {
                    font-size: calc(768px * (16 / 1300));
                }
                &:hover {
                    border: solid calc(768px * (1 / 1300)) #f23920;
                }
            }
            .search_btn_recommend {
                width: calc(768px * (360 / 1300));
                height: calc(768px * (30 / 1300));
                gap: calc(768px * (10 / 1300));
                border-radius: calc(768px * (12 / 1300));
                border: solid calc(768px * (1 / 1300)) #ececec;
                box-shadow:  calc(768px * (4 / 1300)) calc(768px * (4 / 1300)) calc(768px * (9 / 1300)) #ebebeb, calc(768px * (-4 / 1300)) calc(768px * (-4 / 1300)) calc(768px * (9 / 1300)) #ffffff;
                .recommend_icon {
                    width: calc(768px * (18 / 1300));
                    height: calc(768px * (18 / 1300));
                }
                & span {
                    font-size: calc(768px * (16 / 1300));
                }
                &:hover {
                    border: solid calc(768px * (1 / 1300)) #f23920;
                }
            }
        }
        .search_list_div {
            padding: calc(768px * (10 / 1300)) calc(768px * (20 / 1300));
            gap: calc(768px * (10 / 1300));
            height: calc(100vh - (768px * (320 / 1300)));
            .search_item_section {
                width: calc(768px * (360 / 1300));
                height: calc(768px * (100 / 1300));
                gap: calc(768px * (10 / 1300));
                border-bottom: solid calc(768px * (1 / 1300)) #ececec;
                border-top: solid calc(768px * (1 / 1300)) #ececec;
                .item_img_div {
                    width: calc(768px * (50 / 1300));
                    height: calc(768px * (100 / 1300));
                    border-right: solid calc(768px * (1 / 1300)) #ececec;
                    .num {
                        font-size: calc(768px * (16 / 1300));
                    }
                }
                .item_info_div {
                    width: calc(768px * (260 / 1300));
                    height: calc(768px * (100 / 1300));
                    gap: calc(768px * (5 / 1300));
                    .place {
                        width: calc(768px * (260 / 1300));
                        font-size: calc(768px * (16 / 1300));
                    }
                    .address {
                        width: calc(768px * (260 / 1300));
                        font-size: calc(768px * (12 / 1300));
                    }
                    .to_url {
                        .to_url_span {
                            font-size: calc(768px * (12 / 1300));
                        }
                    }
                }
                .item_add_div {
                    width: calc(768px * (30 / 1300));
                    height: calc(768px * (100 / 1300));
                    border-left: solid calc(768px * (1 / 1300)) #ececec;
                    .item_add_button {
                        width: calc(768px * (20 / 1300));
                        height: calc(768px * (20 / 1300));
                    }
                }
            }
            .search_list_nothing {
                font-size: calc(768px * (16 / 1300));
            }
        }
    }

    .route_detail_section {
        width: calc(768px * (400 / 1300));
        height: calc(100vh - (768px * (150 / 1300)));
        top: calc(768px * (140 / 1300));
        left: calc(768px * (510 / 1300));
        border-radius: calc(768px * (20 / 1300));
        box-shadow: calc(768px * (2 / 1300)) calc(768px * (2 / 1300)) calc(768px * (4 / 1300)) #bfbfbf, calc(768px * (-2 / 1300)) calc(768px * (-2 / 1300)) calc(768px * (4 / 1300)) #bfbfbf;
        .route_button_div {
            padding: calc(768px * (10 / 1300)) calc(768px * (20 / 1300));
            gap: calc(768px * (10 / 1300));
            border-bottom: solid calc(768px * (1 / 1300)) #ececec;
            .close_div {
                height: calc(768px * (30 / 1300));
                .close_icon {
                    width: calc(768px * (24 / 1300));
                    height: calc(768px * (24 / 1300));
                }
            }
        }
        .route_detail_div {
            padding: calc(768px * (10 / 1300)) calc(768px * (20 / 1300));
            height: calc(100vh - (768px * (220 / 1300)));
            .route_item_section {
                width: calc(768px * (360 / 1300));
                height: calc(768px * (60 / 1300));
                .route_icon_div {
                    height: calc(768px * (60 / 1300));
                    width: calc(768px * (30 / 1300));
                    .line_top {
                        width: calc(768px * (5 / 1300));
                        height: calc(768px * (20 / 1300));
                    }
                    .circle {
                        width: calc(768px * (20 / 1300));
                        height: calc(768px * (20 / 1300));
                        border: solid calc(768px * (5 / 1300)) #f23920;
                    }
                    .line_bottom {
                        width: calc(768px * (5 / 1300));
                        height: calc(768px * (20 / 1300));
                    }
                }
                .route_info_div {
                    height: calc(768px * (60 / 1300));
                    width: calc(768px * (330 / 1300));
                    padding: 0 calc(768px * (10 / 1300)) 0;
                    .name {
                        font-size: calc(768px * (16 / 1300));
                    }
                    .route_item_sub {
                        gap: calc(768px * (10 / 1300));
                        .sub {
                            font-size: calc(768px * (12 / 1300));
                        }
                    }
                }
            }
            .route_detail_nothing {
                font-size: calc(768px * (16 / 1300));
            }
        }
    }

    .travel_map {
        height: calc(100vh - (768px * (64 / 1300)) - (768px * (50 / 1300))) !important;
    }
}